<% provide(:title, "About") %>
<h1>About the Spain Team</h1>
<h2>The Spain team was created in 2022 for two of the best Tech Trainees of the world, <br>
bringing together the best of each side of the Atlantic Ocean, with permission from Colombia and Romania<br></h2>

