<% provide(:title, "Home") %>
<div class="center jumbotron">
  <h1>Welcome to the Recruitment App</h1>

  <h2>
  THE SPAIN TEAM!!
  </h2>



  <%= link_to "Sign up now!", "#", class: "btn btn-lg btn-primary" %>
</div>

 <h1>
  In this App you will find you dream job!...<br>
  Or maybe not, but for sure will be a very interesting job<br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  Or maybe not
  
  </h1>