<% provide(:title, "Home") %>

<div class="card mb-12" style="max-width: 2040px;">
  <div class="row g-0">
    <div class="col-md-6">
      <%=image_tag "journey.jpg",width: "800"%>
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <h5 class="card-title">
        <br></h5><br><br><br><br><br><br><br><br><br><br><br><br>
        <h1><p class="card-text vcenter">Let's start together the journey of finding a job!<br></h1><br><br><br><br><br><br><br>   
<% if !user_signed_in? %>  
  <div class="centered"><%= link_to "Sign up now!",  new_user_registration_path, class: "btn btn-lg btn-primary" %></div>
<%end%>
</p>
        
      </div>
    </div>
  </div>
</div>