<ul class="jobs">
  <% @find_jobs.each do |job| %>
   <div class="card">
  <div class="card-header">
    <%=job.title%>
  </div>
  <div class="card-body">
    <p class="card-text"><%=job.description%></p>
    <%= link_to "Go to work",  job_path(job.id),  class: "btn btn-primary" %>
  </div>
</div>
  <% end %>
</ul>