<% provide(:title, "Jobs") %>
<h1>Here will be the page where the Jobs will be shown</h1>
<p>
    <ul>
      <li><%= link_to "Trabajo 1",   "#" %></li>
      <li><%= link_to "Trabajo 2",   "#" %></li>
      <li><%= link_to "Trabajo 3",   "#" %></li>
      
    </ul>
 
</p>