<% provide(:title, 'New Job') %>
    <div class="card">
        <div class="card-header"><h4>New job</h4>
        <div class="card-body">  
            <%= render 'shared/job_form' %>
            <br/>
            <%# In a future.. with ajax and dinamic forms%>
            <%# <%if current_user.admin? and @job.applications.empty?%>
            <%#    <div class="card" >
            <%#        <div class="card-header">
            <%#            <h4>Do you want to add stages tod the job?</h4>
            <%#        </div>
            <%#        <div class="card-body">
            <%#            <section class="stage_form">
            <%#                <%= render 'shared/stage_form' %>
            <%#           </section>
            <%#        </div>
            <%#    </div>
            <%#<% end %> 
        </div>
    </div>            
</div>
