<footer class="footer">
  <small>
    The Recruitment App by Silvana and Jose, the Spain Team
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
    </ul>
  </nav>
</footer