<!-- Footer -->
<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>
            The Recruitment App by Silvana and Jose, the Spain Team.
            <%= link_to "About",   about_path %>
            </span>
        </div>
    </div>
</footer>
<!-- End of Footer -->